<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoffeeShopApp"
        tools:targetApi="31">
        <activity
            android:name=".activity.BottomNavAdmin"
            android:exported="true" />
        <activity
            android:name=".activity.shipper_chitietdonhang"
            android:exported="false" />
        <activity
            android:name=".activity.SuccessNotifyActivityShipper"
            android:exported="false" />
        <activity
            android:name=".activity.Bottom_nav"
            android:exported="false" />
        <activity
            android:name=".activity.BottomNavigationActivityShipper"
            android:exported="false" />
        <activity
            android:name=".activity.DeliveryOrderShipper"
            android:exported="false" />
        <activity
            android:name=".activity.Customer_ListCouPonActivity"
            android:exported="true" />
        <activity
            android:name=".activity.Admin_AddCouponActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ManageOrder"
            android:exported="false" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChangeInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SendOTPActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OTPVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ManageUser"
            android:exported="false" />
        <activity
            android:name=".activity.DetailProduct"
            android:exported="false" />
        <activity
            android:name=".activity.AddProduct"
            android:exported="false" />
        <activity
            android:name=".activity.ManageProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Chitiet_donhang_dadat_activity"
            android:exported="false" />
        <activity
            android:name=".activity.UpdateAddress"
            android:exported="false" />
        <activity
            android:name=".activity.SuccessfulOrder"
            android:exported="true" />
        <activity
            android:name=".activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DetailProductActivity"
            android:exported="true" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ListProductActivity"
            android:exported="true" />
        <activity
            android:name=".activity.OrderShipper"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>